{% extends 'base.html' %}

{% block title %}
Create Account | Ready for Future
{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <div class="auth-header">

            <span class="section-label">
                START YOUR JOURNEY
            </span>

            <h1>Create Your Account</h1>

            <p>
                Start building your personalized career roadmap.
            </p>

        </div>


        <form method="POST">

            {% csrf_token %}

            {% for field in form %}

                <div class="form-group">

                    <label>
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                </div>

            {% endfor %}


            <button
                type="submit"
                class="primary-button full-button">

                Create Account →

            </button>

        </form>


        <p class="auth-footer">

            Already have an account?

            <a href="{% url 'accounts:login' %}">
                Login
            </a>

        </p>

    </div>

</section>

{% endblock %}